﻿@model SuDiscussionsDAO.Answer

@{
    ViewBag.Title = "DeletePost";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Delete Post</h2>
<h3>Are you sure you want to delete this?</h3>
<h5>Answer for : @Html.DisplayFor(model=>model.Question.title)</h5>
<div class="card row-hover pos-relative py-3 px-3 mb-3 border-danger border-top-0 border-right-0 border-bottom-0 rounded-0">
    <div class="row align-items-center">
        <div class="col-md-8 mb-3 mb-sm-0">
            <p class="text-sm">Posted by @Html.DisplayFor(model => model.User.firstname) @Html.DisplayFor(model => model.User.lastname)</p>
            <h5 class="text-dark">@Html.DisplayFor(model => model.description)</h5>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger col-12" />
    </div>
    @Html.ActionLink("Cancel", "ViewQuestion", "Questions", new { id = Model.questionid }, new {})
}

