﻿@model SuDiscussionsDAO.Answer

@{
    ViewBag.Title = "EditPost";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Editing Answer for : @Html.DisplayFor(model => model.Question.title)</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.questionid)
        @Html.HiddenFor(model => model.userid)

        <div class="form-group">
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.description, 5, 100, new { @class = "form-control", placeholder = "Answer", @required = "required" })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-secondary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Cancel", "ViewQuestion","Questions", new { id = Model.questionid }, new {})
</div>
