﻿@model SuDiscussionsDAO.Answer

@{
    ViewBag.Title = "PostAnswer";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}

<h2>Posting Answer for:</h2>
<div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
    <div class="row align-items-center">
        <div class="col-md-8 mb-3 mb-sm-0">
            <h5 class="text-primary">
                @Html.ActionLink(Model.Question.title, "ViewQuestion","Questions", new { id = Model.questionid }, new {})
            </h5>
            <p class="text-sm"><span class="op-6">Posted by</span> @Html.ActionLink(Model.Question.User.firstname + " " + Model.Question.User.lastname, "UserProfile", "Users", new { id = Model.Question.userid }, new { @class = "text-black" })</p>
            <div class="text-sm op-5"> <p class="text-black mr-2">@Html.DisplayFor(modelItem => Model.Question.topic)</p></div>
        </div>
    </div>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Answer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.description,5,100, new { @class = "form-control", placeholder = "Answer", @required = "required" } )
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Post" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Cancel", "ViewQuestion", "Questions", new { id = Model.questionid }, new { @class = "text-danger" })
</div>
