﻿@model SuDiscussionsDAO.Question

@{
    ViewBag.Title = "EditPost";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Edit Post</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h3 class="text-primary">
        @Html.DisplayFor(model => model.title)
    </h3>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.title)
    @Html.HiddenFor(model => model.userid)

    <div class="form-group">
        <div class="mb-3">
            @Html.EditorFor(model => model.topic, new { htmlAttributes = new { @class = "form-control", placeholder = "TOPIC", @required = "required" } })
            @Html.ValidationMessageFor(model => model.topic, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="mb-3">
            @Html.TextAreaFor(model => model.description, 5, 100, new { @class = "form-control", placeholder = "Description...", @required = "required" })
            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-secondary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Cancel", "ViewQuestion", new { id = Model.id})
</div>
