﻿@model IEnumerable<SuDiscussionsDAO.Question>

@{
    ViewBag.Title = "Index";
    try
    {
        if (@Session["logged_in"].ToString().Equals("1"))
        {
            Layout = "~/Views/Shared/_LoginLayout.cshtml";
        }
    }
    catch (NullReferenceException nosession) { }
}

<h1>FORUM</h1>


@using (Html.BeginForm())
{
    <div class="input-group rounded py-2">
        @Html.TextBox("search", "", new { @class = "form-control rounded", @placeholder = "Search" })
        <input type="submit" value="&#xf002" class="btn fa fa-search">
    </div>
}


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
                <div class="row align-items-center">
                    <div class="col-md-8 mb-3 mb-sm-0">
                        <h5 class="text-primary">
                            @Html.ActionLink(item.title, "ViewQuestion", new { id = item.id })
                        </h5>
                        <p class="text-sm"><span class="op-6">Posted by</span> @Html.ActionLink(item.User.firstname + " " + item.User.lastname, "UserProfile", "Users", new { id = item.userid }, new { @class = "text-black" })</p>
                        <div class="text-sm op-5"> <p class="text-black mr-2">@Html.DisplayFor(modelItem => item.topic)</p></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>