﻿@model SuDiscussionsDAO.Question

@{
    ViewBag.Title = "PostQuestion";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";


}

<h2>Post</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Question</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="mb-3">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control", placeholder = "Question", @required = "required" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="mb-3">
                @Html.EditorFor(model => model.topic, new { htmlAttributes = new { @class = "form-control", placeholder = "TOPIC", @required = "required" } })
                @Html.ValidationMessageFor(model => model.topic, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="mb-3">
                @Html.TextAreaFor(model => model.description,5,100, new { @class = "form-control", placeholder = "Description...", @required = "required" } )
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Post" class="btn btn-primary col-12" />
            </div>
        </div>
    </div>
}
