﻿@model SuDiscussionsDAO.Question

@{
    ViewBag.Title = "ViewQuestion";
    try
    {
        if (@Session["logged_in"].ToString().Equals("1"))
        {
            Layout = "~/Views/Shared/_LoginLayout.cshtml";
        }
    }
    catch (NullReferenceException nosession) { }
}


<div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
    <div class="row align-items-center">
        <div class="col-md-8 mb-3 mb-sm-0">
            <h3 class="text-primary">
                @Html.DisplayFor(model => model.title)
            </h3>
            <p class="text-sm">Posted by @Html.ActionLink(Model.User.firstname + " " + Model.User.lastname, "UserProfile", "Users", new { id = Model.userid }, new { @class = "text-secondary" })</p>
            <h5 class="text-dark">@Html.DisplayFor(model => model.description)</h5>
            <div class="text-sm op-5">@Html.DisplayFor(model => model.topic) </div>
        </div>
        @{
            try
            {
                if (@Session["logged_in"].ToString().Equals("1"))
                {
                    <div class="col-md-4 op-7">
                        <div class="row text-center op-7">
                            <div class="col px-1">@Html.ActionLink("Post Answer", "PostAnswer", "Answers", new { qid = Model.id }, new { @class = "text-primary" })</div>
                            @{
                                if ((int)@Session["id"] == Model.User.id)
                                {
                                    <div class="col px-1">@Html.ActionLink("Edit", "EditPost", new { id = Model.id }, new { @class = "text-sm text-secondary" })</div>
                                    <div class="col px-1">@Html.ActionLink("Delete", "DeletePost", new { id = Model.id }, new { @class = "text-sm text-danger" })</div>
                                }
                            }
                        </div>
                    </div>
                }
            }catch(NullReferenceException nosession) { }
        }
    </div>
</div>
<h5 class="text-secondary">Answers:</h5>
@{
    foreach (var item in Model.Answers)
    {
        <div class="px-5">
            <div class="card row-hover pos-relative py-3 px-3 mb-3 border-danger border-top-0 border-right-0 border-bottom-0 rounded-0">
                <div class="row align-items-center">
                    <div class="col-md-8 mb-3 mb-sm-0">
                        <p class="text-sm">Posted by @Html.ActionLink(item.User.firstname + " " + item.User.lastname, "UserProfile", "Users", new { id = item.userid }, new { @class = "text-secondary" })</p>
                        <h5 class="text-dark">@Html.DisplayFor(modelItem => item.description)</h5>
                    </div>
                    @{
                        try
                        {
                            if (@Session["logged_in"].ToString().Equals("1") && (int)@Session["id"] == item.User.id)
                            {
                                <div class="col-md-4 op-7">
                                    <div class="row text-center op-7">
                                        <div class="col px-1">@Html.ActionLink("Edit", "EditPost", "Answers", new { id = item.id }, new { @class = "text-sm text-secondary" })</div>
                                        <div class="col px-1">@Html.ActionLink("Delete", "DeletePost", "Answers", new { id = item.id }, new { @class = "text-sm text-danger" })</div>
                                    </div>
                                </div>
                            }
                        }catch (NullReferenceException nosession) { }
                    }
                </div>
            </div>
        </div>
                        }
}

