﻿@{
    ViewBag.Title = "About";
    try
    {
        if (@Session["logged_in"].ToString().Equals("1"))
        {
            Layout = "~/Views/Shared/_LoginLayout.cshtml";
        }
    }
    catch (NullReferenceException nosession) { }
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <br />
    <p>Welcome to SuDiscussions!</p> 
    <p>An online discussion forum where users can post and answer questions related to various.</p>
    <p>Use the search bar in the homepage to search for existing posts.</p>
    <p>To Post new Questions and Answers, Register an account and Login.</p>
</main>