﻿@{
    ViewBag.Title = "Contact";
    try
    {
        if (@Session["logged_in"].ToString().Equals("1"))
        {
            Layout = "~/Views/Shared/_LoginLayout.cshtml";
        }
    }
    catch (NullReferenceException nosession) { }
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message™</h3>

    <address>
        Heritage Way<br />
        Rockford Hills, Los Santos, San Andreas<br />
        <abbr title="Phone">P:</abbr>
        8516880245
    </address>

    <address>
        <strong>Email:</strong><a href="mailto:sudarshan.prabhu@cognizant.com">sudarshan.prabhu@cognizant.com</a><br />
    </address>
</main>