﻿@model IEnumerable<SuDiscussionsDAO.Admin>

@{
    ViewBag.Title = "Index";
}


<div class="d-grid gap-2">
    <h2 class="text-center">Admin Dashboard</h2>
    @Html.ActionLink("Users", "Index", "Users", new { area = "" }, new { @class = "btn btn-lg btn-dark" })
    @Html.ActionLink("Questions", "ListAll", "Questions", new { area = "" }, new { @class = "btn btn-lg btn-primary" })
    @Html.ActionLink("Answers", "Index", "Answers", new { area = "" }, new { @class = "btn btn-lg btn-secondary" })
    @Html.ActionLink("Admins", "ListAll", new { area = "" }, new { @class = "btn btn-lg btn-info" })
    @Html.ActionLink("Logout", "Logout", "Admins", new { area = "" }, new { @class = "btn btn-outline-danger" })
</div>
