﻿@model IEnumerable<SuDiscussionsDAO.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }, new{ @class = "btn btn-outline-primary" })
            @Html.ActionLink("Details", "Details", new { id = item.id }, new{ @class = "btn btn-outline-secondary" })
            @Html.ActionLink("Delete", "Delete", new { id = item.id }, new{ @class = "btn btn-outline-danger" })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Back to Dashboard", "Index", "Admins")
</p>
