﻿@model SuDiscussionsDAO.User

@{
    ViewBag.Title = "UserProfile";
    try
    {
        if (@Session["logged_in"].ToString().Equals("1"))
        {
            Layout = "~/Views/Shared/_LoginLayout.cshtml";
        }
    }
    catch (NullReferenceException nosession) { }
}

<div class="card text-center">
    <div class="card-header">
        Profile
    </div>
    <div class="card-body">
        <h3 class="card-title">@Html.DisplayFor(model => model.firstname) @Html.DisplayFor(model => model.lastname)</h3>
        <p class="card-text">Posts : @Html.DisplayFor(model => model.Questions.Count)</p>
    </div>
</div>

<h4>Posts by user : </h4>
<div class="container">
    <div class="row">
        @foreach (var item in Model.Questions)
        {
            <div class="card row-hover pos-relative py-3 px-3 mb-3 border-primary border-top-0 border-right-0 border-bottom-0 rounded-0">
                <div class="row align-items-center">
                    <div class="col-md-8 mb-3 mb-sm-0">
                        <h5>
                            @Html.ActionLink(item.title, "ViewQuestion","Questions", new { id = item.id }, new { @class="text-primary" })
                        </h5>
                        <p class="text-sm"><span class="op-6">Posted by</span> @Html.ActionLink(item.User.firstname + " " + item.User.lastname, "UserProfile", "Users", new { id = item.userid }, new { @class = "text-black" })</p>
                        <div class="text-sm op-5"> <p class="text-black mr-2">@Html.DisplayFor(modelItem => item.topic)</p></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
