﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SuDiscussions</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column min-vh-100" style="background-color: #eee">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-secondary">
        <div class="container">
            <a href="@Url.Action("Index", "Questions", null)" class="navbar-brand">
                <img src="~/Images/logo.png" style="vertical-align: middle; width: 40px;"> SuDiscussions
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>
                        <a href="@Url.Action("PostQuestion", "Questions", null)" class="nav-link">
                            <i class="fa fa-question-circle" aria-hidden="true"></i> Post Question
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("About", "Home", null)" class="nav-link">
                            <i class="fa fa-info" aria-hidden="true"></i> About
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Contact", "Home", null)" class="nav-link">
                            <i class="fa fa-address-card" aria-hidden="true"></i> Contact
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto flex-grow-1">
                    <li>
                        <a href="@Url.Action("UserProfile", "Users", new { id = @Session["id"] })" class="nav-link">
                            <i class="fa fa-user-circle" aria-hidden="true"></i> @Session["fname"] @Session["lname"]
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Logout", "Users", null)" class="nav-link">
                            <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="mt-auto">
        <div class="container">
            <hr />
            <p>&copy; @DateTime.Now.Year - SudCorp™</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
